html {
    height: 100%;
}

body {
    margin: 0;
    
    height: 100%;
    font-family: "Microsoft YaHei" ! important;
}
.activity {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.activity .top {
	
    margin: 0 auto;
    position: relative;
    width: 100%;
    min-height: 670px;
    background-image: url(../img/pc-activity-background.png);
    background-position: center;
    background-repeat: no-repeat;
}

.activity .blank {
	flex: 1;
	margin: 0 auto;
	margin-top: -2px;
	width: 100%;
	max-width: 1900px;
    background-color: #00ACEF;
}