html {
    height: 100%;
}

body {
    margin: 0;
    
    height: 100%;
    
    font-family: "Microsoft YaHei" ! important;
}
.browsers {
	margin: auto;  
    position: absolute;  
    top: 0; left: 0; bottom: 0; right: 0;
  
    height: 500px;
    width: 800px;
}

.browsers .top {
	margin: 10px auto;
	text-align: center;
}
.browsers .center {
	margin: 10px auto;
	text-align: center;
}
.browsers .bottom {
	margin: 10px auto;
	text-align: center;
}

.browsers .top img {
	margin: auto;
}