<div class="promotion points center height-100">
	<ul class="layout">
		<li class="top">
			<dl>
<!-- 				<dt><i>¥</i><span>{{faceValue}}</span>
					<p>代金券</p>
				</dt> -->
				<img src="images/app-icon.png">
			</dl>
			<div class="carinfos">
				<div ng-hide="!complete">
					<p>您已获得{{exNumber}}张{{faceValue}}元代金券</p>
					<p>赶紧去享用吧！</p>
				</div>
				<div ng-hide="complete">
					<p>服务超级棒的喔来停车</p>
					<p>积分兑换<span>{{faceValue}}元代金券</span></p>
				</div>
			</div>
		</li>
		<li class="middle">
			<form>
				<p class="pt10"><input ng-change="change()" ng-model="exNumber" class="btn btn-phone" placeholder="请输入兑换数量"></p>
				<p class="pt10"><input ng-click="submit()" class="btn btn-shadow" value="兑换代金券" readonly="readonly"></p>
				<p class="pt10">您的积分{{rewardPoints}}</p>
				<p class="pt10">剩余{{remain}}张，最大兑换数量{{max}}</p>
			</form>
		</li>
		<li class="bottom">
			<p class="pt10">
				<!-- <a href="https://appsto.re/cn/6kfe7.i" tagert="_blank">下载喔来停车APP</a> -->
			</p>
		</li>
	</ul>
</div>
