<div class="points center">
	<div class="row">
		<div class="left">
			积分余额: 
		</div>
		<div class="right">
			{{rewardPoints}}
		</div>
	</div>
	<div class="clear"></div>
	<div class="row">
		<div class="left">
			请选择面值: 
		</div>
		<div class="right">
			<select 
			    ng-change="select()"
			    ng-model="exchangePlan"
			    ng-options="value as value.faceValue for value in promotion.exchangePlanList">
			</select>
		</div>
	</div>
	<div class="clear"></div>
	<div class="row">
		<div class="left">
			 剩余数量: 
		</div>
		<div class="right">
			{{remain}}
		</div>
	</div>
	<div class="clear"></div>
	<div class="row">
		<div class="left">
			请填写数量: 
		</div>
		<div class="right">
			<input ng-change="change()" ng-model="exNumber"></input> (最大数量为{{max}})
		</div>
	</div>
	<div class="clear"></div>
	<div class="row">
		<div class="left">
			 &nbsp;
		</div>
		<div class="right">
			<button ng-click="submit()"  type="button">兑换</button>
		</div>
	</div>
</div>
