<div class="promotion snapup center height-100">
	<ul class="layout">
		<li class="top">
			<dl>
<!-- 				<dt><i>¥</i><span>{{promotion.exchangePlanList[0].faceValue}}</span>
				<p>代金券</p>
				</dt> -->
				<img src="images/app-icon.png">
			</dl>
			<div class="carinfos">
				<div ng-hide="!complete">
					<p>您已获得1张{{faceValue}}元代金券</p>
					<p>赶紧去享用吧！</p>
				</div>
				<div ng-hide="complete">
					<p>服务超级棒的喔来停车</p>
					<p>赶快来领取<span>{{faceValue}}元代金券</span></p>
				</div>
			</div>
		</li>
		<li class="middle">
			<form>
				<p ng-hide="alreadSnapup" class="pt10">
					<input ng-click="submit()" class="btn btn-shadow" value="领取代金券" readonly="readonly">
				</p>
				<p ng-hide="!alreadSnapup" class="pt10">
					<input class="btn btn-shadow" value="代金券已领取" readonly="readonly">
				</p>
				<p class="pt10">剩余{{remain}}张</p>
			</form>
		</li>
		<li class="bottom">
			<p class="pt10">
				<!-- <a href="https://appsto.re/cn/6kfe7.i" tagert="_blank">下载喔来停车APP</a> -->
			</p>
		</li>
	</ul>
</div>
