<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"  
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
          xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"  
          version="3.0">  

  <!-- 静态文件默认处理 -->  
<servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>*.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>*.gif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>*.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>*.ico</url-pattern>
  </servlet-mapping>
    
  <!-- Spring ApplicationContext配置文件的路径可使用通配符，多个路径用,号分隔，此参数用于后面的Spring-Context loader -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    
   <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
    <!-- SpringMVC 分派器及相关映射 -->
   <servlet>
     <servlet-name>dispatcherServlet</servlet-name>  
     <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:springmvc-servlet.xml</param-value>
    </init-param>
     <load-on-startup>1</load-on-startup>  
   </servlet>  
  
    <servlet-mapping>  
         <servlet-name>dispatcherServlet</servlet-name>  
         <url-pattern>/</url-pattern> 
     </servlet-mapping> 
   
    <servlet>
	    <servlet-name>DruidStatView</servlet-name>
	    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>DruidStatView</servlet-name>
	    <url-pattern>/dbmonitor/*</url-pattern>
	</servlet-mapping>
	    
    
     <!-- Spring 刷新Introspector防止内存泄露 -->
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>
    <listener>
		<listener-class>com.tinypace.mobistore.listener.SysListener</listener-class>
	</listener>
   
     <!--Hibernate Open Session in View Filter-->
    <filter>
      <filter-name>hibernateFilter</filter-name>
      <filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
     </filter>
    <filter-mapping>
        <filter-name>hibernateFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.tinypace.mobistore.filter.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/api/web/*</url-pattern>
    </filter-mapping>
    
     <!-- Character Encoding filter -->
    <filter>
        <filter-name>setCharacterEncoding</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>setCharacterEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    
    
    
    <!-- druid监控相关 -->
    <filter>
    <filter-name>DruidWebStatFilter</filter-name>
    <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
    <init-param>
        <param-name>exclusions</param-name>
        <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/dbmonitor/*</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>DruidWebStatFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- SiteMesh -->
   <filter>
    <filter-name>sitemeshFilter</filter-name>
    <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemeshFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
    <!-- CKFinder -->
  <servlet>
    <servlet-name>CKFinderConnectorServlet</servlet-name>
    <servlet-class>com.tinypace.mobistore.servlet.CKFinderConnectorServlet</servlet-class>
    <init-param>
      <param-name>XMLConfig</param-name>
      <param-value>/WEB-INF/ckfinder.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>configuration</param-name>
      <param-value>com.tinypace.mobistore.servlet.CKFinderConfig</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CKFinderConnectorServlet</servlet-name>
    <url-pattern>/static/ckfinder/core/connector/java/connector.java</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FileUploadFilter</filter-name>
    <filter-class>com.ckfinder.connector.FileUploadFilter</filter-class>
    <init-param>
      <param-name>sessionCookieName</param-name>
      <param-value>JSESSIONID</param-value>
    </init-param>
    <init-param>
      <param-name>sessionParameterName</param-name>
      <param-value>jsessionid</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FileUploadFilter</filter-name>
    <url-pattern>/static/ckfinder/core/connector/java/connector.java</url-pattern>
  </filter-mapping>
  
  <!-- 查看CKFinder的图片 
  <servlet>
  	<servlet-name>cKFinderFilesServlet</servlet-name>
  	<servlet-class>com.thinkgem.jeesite.common.servlet.CKFinderFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>cKFinderFilesServlet</servlet-name>
  	<url-pattern>/userfiles/*</url-pattern>
  </servlet-mapping>-->
  
  <!-- 随机验证码 -->
  <servlet>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <servlet-class>com.tinypace.mobistore.servlet.ValidateCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCodeServlet</servlet-name>
    <url-pattern>/servlet/validateCodeServlet</url-pattern>
  </servlet-mapping>
  
  
     <session-config>
        <session-timeout>30</session-timeout>    	
    </session-config>
   </web-app>